<div class="bg-light p-5">
    <div class="d-flex justify-content-between">
        <h3 class="bg-dark text-white p-2">Shopping Cart</h3>
        <h5 class="text-success"> total Price : {{ cartDetails.totalCartPrice}} EGP</h5>

    </div>
    <hr>
    <div *ngFor="let item of cartDetails.products" class="row border-bottom align-items-center py-3">
        <div class="col-md-1">
            <img class="w-100" [src]="item.product.imageCover" alt="">
        </div>
        <div class="col-md-11">
            <div class="d-flex justify-content-between">
                <h6>{{item.product.title}} ({{item.price }})</h6>
                <h6 class="text-success">{{item.price *item.count}} EGP</h6>

            </div>
            <div>
                <button (click)="updateProductQuentity(item.product._id,item.count-1)"
                    class="btn btn-sm btn-outline-success py-0">-</button>
                <span class="mx-2">{{item.count}}</span>
                <button (click)="updateProductQuentity(item.product._id,item.count+1)"
                    class="btn btn-sm btn-outline-success py-0">+</button> |
                <button (click)="DeleteFromCart(item.product._id)" class="btn m-0 p-0"><i
                        class="fa-regular fa-trash-can text-success"></i>Delete</button>

            </div>





        </div>
    </div>
    <div>
        <a href="" class="w-25 ms-auto">
            <img class="w-25  d-block ms-auto" src="asset s/images/Visa.jpg" alt="">
        </a>
    </div>




</div>